body {
    font-family: Georgia, 'Times New Roman', Times, serif;}
p {color: crimson; text-align: justify}
body {background-color: rgb(34, 34, 34);}
h1 {color: brown; text-align: center; font-size: larger;}
h2 {color: brown; text-align: center; font-size: small;}
